In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('../../../data/2022_clean_data.csv', sep=';')

In [2]:
ump_mapping = {
    0 : 2725504,
    11 : 3166460,
    12 : 2522609,
    13 : 2512539,
    14 : 2938564,
    15 : 2698940,
    16 : 3144446,
    17 : 2238094,
    18 : 2440486,
    19 : 3264884,
    21 : 3050172,
    31 : 4641854,
    32 : 1841487,
    33 : 1812935,
    34 : 1840915,
    35 : 1891567,
    36 : 2501203,
    51 : 2516971,
    52 : 2207212,
    53 : 1975000,
    61 : 2434328,
    62 : 2922516,
    63 : 2906473,
    64 : 3014497,
    65 : 3016738,
    71 : 3310723,
    72 : 2390739,
    73 : 3165876,
    74 : 2576016,
    75 : 2800580,
    76 : 2678863,
    81 : 2619312,
    82 : 2862231,
    91 : 3200000,
    94 : 3561932,
}

df['ump'] = df['iddataprovinces'].map(ump_mapping)

In [3]:
df

,idregistrantdata,groupreg,regtype,iddataregkhusustype,idschooltypedata,idschooljurusandata,email,idmajordata,idcountrydata,iddataprovinces,iddataregencies,ispaid,paymentamount,ump
0,225986,1,1,0,0,0,elitaosyf@gmail.com,10,0,31,0,1,1500000,4641854
1,361678,1,3,0,1,2,614LOVES@GMAIL.COM,11,0,32,3278,1,1500000,1841487
2,361701,1,3,0,1,1,NAUFALERU@GMAIL.COM,4,0,33,3305,1,1500000,1812935
3,315463,1,3,0,1,1,PANDITARABI@GMAIL.COM,7,0,32,3273,1,1500000,1841487
4,351262,1,3,0,1,1,JIHANMALLIKA5@GMAIL.COM,15,0,31,3172,1,1500000,4641854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32661,326586,1,3,0,1,1,CINTAAMALIA243@GMAIL.COM,4,0,12,1201,0,0,2522609
32662,326593,1,2,0,1,2,IRVANGANTENG345@GMAIL.COM,11,0,17,1701,0,0,2238094
32663,326594,1,15,0,1,0,SURYAASTI43@GMAIL.COM,4,0,33,3322,0,0,1812935
32664,326595,1,3,0,1,1,ISAIAOMINE@GMAIL.COM,4,0,72,7271,0,0,2390739
32665,326597,1,3,0,1,2,NUURULHKMAHH@GMAIL.COM,12,0,73,7313,0,0,3165876

In [4]:
categorical_cols = [col for col in df.columns if df[col].nunique() < 15 and df[col].dtype in ['int64', 'object']]
ordinal_cols = [col for col in categorical_cols if df[col].dtype != 'object']
nominal_cols = [col for col in categorical_cols if df[col].dtype == 'object']

label_encoders = {}
for col in ordinal_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

df = pd.get_dummies(df, columns=nominal_cols)

In [5]:
df.to_csv('../../../data/2022_encoded_data.csv', index=False)